canvas {
    border: 1px solid #000;
}

.game-display{
    display: flex;
    justify-content: center;
}

.info {
    padding: 10px;

    div {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        border-bottom: 1px solid slategray;

        span {
            margin-left: auto;
            max-width: 500px;
        }
    }
}